/*
  Set the base HTML and body elements to take up the full viewport height.
  This ensures that the React root element can also expand to fill the page.
*/
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  The <pre> tag is used in the event tables. By default, it has a large margin.
  This rule makes it fit nicely within the table cells without extra space.
*/
pre {
  margin: 0;
  white-space: pre-wrap; /* Allows long messages to wrap */
  font-family: 'monospace'; /* Ensures a monospaced font for log messages */
  word-break: break-all; /* Breaks long strings that might overflow */
}



